# **Learning Python: Basic Skills**

## Printing

### Printing to the Console

In order to print you have to use the 'Print' command

In [1]:
print("Hello World")

Hello World

### Newline Character

Thit will print the same lines of code on one line rather than 2 separate ones

In [2]:
print("Hello ", end='')
print("world")

Hello world

### Comments

Using # allows the author to write comments next to their code which allows them to know what it does in addition allows you to share code with ease as the user will be able to read the comments and understand the code. Example below:

In [3]:
print("Hello World") # This code allows me to print to the console by writing whatever I'd like within the quotation marks

Hello World

## Variables

### Assigning Value

The value stored in a variable can change. Use the assignment operator to give a variable a new value.

The image above is not declaring two variables called my_variable. The first line declares the variable because this is the first instance. The second line overwrites Hello world with Goodbye world. Enter the code below and see the results of the print commands. Use the code visualizer to see how the value of my_variable changes.

In [4]:
my_variable = "Hello world"
print(my_variable)
my_variable = "Goodbye world"
print(my_variable)

Hello world
Goodbye world

### Strings

A string is a collection of text, numbers, or symbols. Strings are always surrounded by quotation marks.

In [5]:
string_variable = "This is a string"
second_string = 'This is a string also'
print(string_variable)
print(second_string)

This is a string
This is a string also

### Boolean

Boolean values mean True or False. You will see how boolean values are used when we talk about conditionals and while loops. They are also case senstive so must be upper case.

In [7]:
boolean_value_true = True
boolean_value_false = False

### Integers

Integers (often called ints) are whole numbers. They can be positive or negative. Do not use a comma when typing large numbers.

`5` is not the same thing as `"5"`. The first one is an integer, the second is a string. You will see in a later lesson the different operations you can perform on strings and numbers. Treating a string as a number can cause errors.

In [8]:
integer_variable = 50 # This shows that the 50 is an integer not a string as seen by the lack of "" around it
print(integer_variable)

50

### Floating Point numbers

Floating point numbers (often called floats) are numbers with a decimal. They can be positive or negative.

In [10]:
float_variable = 50.0 # As shown despite having a different name it is treated similar to an integer
print(float_variable)

50.0

## Exercises

### Exercise 1

Declare a variable my_boolean and assign it the boolean value of true. Print the variable.

In [11]:
my_boolean = True
print(my_boolean)

True

### Exercise 2

Declare a variable my_int and assign it the integer value of 3. Print the variable.

In [12]:
my_int = 3
print(my_int)

3

### Exercise 3

Declare a variable my_string and assign it the string value of:

This is a string

Print the variable.

In [13]:
my_string = ("This is a string")
print(my_string)

This is a string

### Exercise 4

Declare a variable my_float and assign it the floating point value of 3.0. Print the variable.

In [14]:
my_float = 3.0
print(my_float)

3.0

### Exercise 5

Use two print statements to write the following string: Okay, it is time to learn about operators.

In [19]:
print("Okay, it is time to learn ", end='')
print("about operators.")

Okay, it is time to learn about operators.